.App {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: pre-wrap;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: auto;
    background-color: #FFF;
    overflow-x: hidden;
    display: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16.5px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body {
    background-color: #121212;
    color: white;
}

#NavBar-Dark {
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 99;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 28px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 50px;
    padding-bottom: 18px;
    overflow-x: hidden;
    color: #444;
    background-color: #FFF;
    filter: invert(1);
}

#NavBar {
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 99;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 28px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 50px;
    padding-bottom: 18px;
    overflow-x: hidden;
    color: #444;
    background-color: #FFF;
}

.navbar-dark {
    filter: invert(1);
}

#NavBar__Left__Part {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#NavBar__Right__Part {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 900;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#NavBar #linkedin {
    margin-top: -25px;
    margin-right: 10px;
}

#NavBar-Dark #linkedin {
    margin-top: -25px;
    margin-right: 10px;
}

#Github {
    margin-top: -2px;
}

#NavBar ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#NavBar-Dark ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

a {
    color: inherit;
    font-style: none;
    text-decoration: none;
}

a:hover {
    color: #FF4545;
}

label {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    width: 39px;
    cursor: pointer;
}

label span {
    background: #111;
    border-radius: 10px;
    height: 3px;
    margin: 3px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
    width: 50%;
}

span:nth-of-type(2) {
    width: 100%;
}

span:nth-of-type(3) {
    width: 75%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(4px, 0px)
}

input[type="checkbox"]:checked~span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg)
}

input[type="checkbox"]:checked~span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(15px, -3px) rotatez(45deg);
}

.DrawerBG {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    z-index: 3;
    background: rgba(0, 0, 0, 0.1);
}

.Drawer-Dark {
    min-height: 100vh;
    color: #EEE;
    z-index: 4;
    background: #121212;
    top: 0;
    left: 0;
    position: absolute;
    padding-bottom: 20px;
    width: 300px;
    animation: 1s slideshow alternate;
}

.Drawer {
    min-height: 100vh;
    color: #121;
    z-index: 4;
    background: #FFF;
    top: 0;
    left: 0;
    position: absolute;
    padding-bottom: 20px;
    width: 300px;
    animation: 1s slideshow alternate;
}

.DrawerHidden-Dark {
    height: 100vh;
    overflow-y: scroll;
    color: #FFF;
    z-index: 4;
    background: #121212;
    top: 0;
    left: 0;
    position: fixed;
    width: 0px;
    font-size: 0px;
    animation: 2s slideHide alternate;
}

.DrawerHidden {
    height: 100vh;
    color: #121;
    overflow-y: scroll;
    z-index: 4;
    background: #FFF;
    top: 0;
    left: 0;
    position: fixed;
    width: 0px;
    font-size: 0px;
    animation: 2s slideHide alternate;
}

.DrawerHiddenInitial {
    height: 100vh;
    overflow-y: scroll;
    color: #121;
    z-index: 4;
    background: #FFF;
    top: 0;
    left: 0;
    position: fixed;
    width: 0px;
    font-size: 0px;
}

@keyframes slideshow {
    0% {
        width: 0;
        font-size: 0px;
    }
    15% {
        font-size: 0;
    }
    16% {
        font-size: inherit;
    }
    100% {
        width: 300px;
    }
}

@keyframes slideHide {
    0% {
        width: 300px;
        font-size: inherit;
    }
    30% {
        font-size: inherit;
    }
    31% {
        font-size: 0;
    }
    32% {
        font-size: 0;
    }
    100% {
        width: 0px;
        font-size: 0px;
    }
}

.DrawerBGHidden {
    top: 0;
    left: 0;
    position: fixed;
    height: 0vh;
    width: 0vw;
    z-index: 3;
    background: rgba(0, 0, 0, 0.1);
}

.toggle {
    width: 55px;
    height: 25px;
    z-index: 5;
    background: #222;
    border: 0px solid grey;
    border-radius: 25px;
    padding: 2px;
}

.button {
    width: 21px;
    height: 21px;
    background: #FFF;
    right: 0;
    border-radius: 21px;
}

.toogle:checked~.button {
    background: rgb(51, 48, 48);
    margin-left: 28px;
}

.toggle:checked {
    background: #ff6b6b;
    border: 1px solid #ff6b6b;
}

.inactiveMixin {
    content: "";
    position: absolute;
    display: block;
}

.beforeAnimation {
    -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}

.afterAnimation {
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
    -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}

.toggleWrapper input.mobileToggle {
    opacity: 0;
    position: absolute;
}

.toggleWrapper input.mobileToggle+label {
    position: relative;
    display: inline-block;
    user-select: none;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-tap-highlight-color: transparent;
    height: 30px;
    width: 80px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
}

.toggleWrapper input.mobileToggle+label:before {
    content: "";
    position: absolute;
    display: block;
    -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    height: 30px;
    width: 80px;
    background: #232323;
    top: 0;
    left: 0;
    border-radius: 30px;
}

.toggleWrapper input.mobileToggle+label:after {
    content: "";
    position: absolute;
    display: block;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
    -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    background: #333;
    height: 28px;
    width: 28px;
    top: 3px;
    margin-top: -2px;
    left: 2px;
    border-radius: 60px;
}

.toggleWrapper input.mobileToggle:checked+label:before {
    background: #ee5253;
    -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}

.toggleWrapper input.mobileToggle:checked+label:after {
    left: 50px;
}

#Home {
    padding: 50px;
    padding-top: 0px;
    text-align: center;
    width: 100vw;
    -webkit-animation: 1s zoom 1 alternate;
    animation: 1s zoom 1 alternate;
}

#Home__Box {
    display: relative;
}

#Home__Left__Part {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    float: left;
}

#Home__Right__Part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 900;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#img {
    background: url("https://avatars.githubusercontent.com/u/39455174?s=460&u=e9f5cb2f91f075ed2d21a194c012a73732a35b73&v=4");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: -23px;
    border-radius: 100%;
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: translateY(200px) scale(0.5);
        transform: translateY(200px) scale(0.5);
    }
    100% {
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1);
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: translateY(200px) scale(0.5);
        transform: translateY(200px) scale(0.5);
    }
    100% {
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1);
    }
}

#Technology {
    position: relative;
    padding: 50px;
    text-align: center;
    -webkit-animation: 1s zoom 1 alternate;
    animation: 1s zoom 1 alternate;
}

#Projects {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    grid-column-gap: 0px;
    grid-row-gap: 100px;
    margin-bottom: 50px;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -webkit-animation: 1s zoom 1 alternate;
    animation: 1s zoom 1 alternate;
}

#Projects a {
    text-decoration: none;
    color: #ff5454;
}

#Projects a:hover {
    padding: 2px;
    background: #ff5454;
}

#Projects #card {
    margin: 0 auto;
    min-height: 400px;
    padding: 4px;
    text-align: center;
    background: inherit;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    width: 300px;
}

#Projects .hovercard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    overflow: hidden;
    background: inherit;
    border-radius: 10px 10px 0px 0px;
}

#Projects .hovercard img {
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

#Projects .hovercard:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#DarkMode1 {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    margin-bottom: 80px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 40px;
    background: #FFF;
}

#DarkMode1 #CommImg {
    width: 26px;
    background: url("https://icons.getbootstrap.com/assets/icons/person-lines-fill.svg");
    background-size: cover;
    height: 24px;
}

#DarkMode {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 40px;
    background: #121212;
}

#DarkModeImg {
    width: 38px;
    background: url("https://freesvg.org/img/moon-and-stars.png");
    background-size: cover;
    height: 36px;
}

@media screen and (max-width: 437px) {
    #Github {
        margin-top: -27px;
    }
}

@media screen and (max-width: 650px) {
    #NavBar {
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #NavBar-Dark {
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #NavBar__Left__Part {
        width: 350px;
        margin-left: 25px;
    }
    #Projects {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }
    #Home__Left__Part {
        float: none;
        margin: 0;
    }
    #Home__Right__Part {
        float: none;
        display: flexbox;
        width: 100%;
        -ms-flex-line-pack: center;
        align-content: center;
    }
}

@media screen and (max-width: 930px) {
    #Projects {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }
    #Home__Left__Part {
        float: none;
        margin: 0;
        width: calc( 100vw - 100px);
    }
    #Home__Right__Part {
        float: none;
        display: flexbox;
        width: 100%;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .sub-container {
        width: 50vw;
    }
    .sub-container-1 {
        overflow-x: auto;
        width: 100%;
        padding: 0px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}